<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title"><i class="fa fa-bars"></i> 日志详情</h4>
</div>

<div class="modal-body">
    <table class="table table-bordered">
        <tr>
            <td>
                <textarea class="form-control" style="height:250px">@ViewBag.Message</textarea>
            </td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-primary">关闭</button>
</div>


