<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections />
  <connectionStrings>
    <add name="MysqlConnection" connectionString="Server=127.0.0.1;Database=alpha_collector;Uid=root;Pwd=wangwust;charset=utf8" providerName="MySql.Data.MySqlClient"/>
    <add name="RedisConnection" connectionString="127.0.0.1:6379"/>
  </connectionStrings>
  
  <appSettings>
    <!--日志记录的位置  FILE:文件中 MYSQL:Mysql数据库中 REDIS:Redis数据库中-->
    <add key="LogPositon" value="FILE"/>
  </appSettings>
  
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <!-- 登录设置 开始 -->
    <authentication mode="Forms">
      <forms name="QDLGN" loginUrl="~/account/login" protection="All" path="/" slidingExpiration="true" timeout="380" />
    </authentication>
    <!-- 登录设置 结束 -->
    <machineKey validationKey="2007EB3583821067F2414721C829B3AA568E4EE96090E53D5050206B88D61DA5875D8ECE84650C898A117FE240E341BA4A2CDF98EC28CE2A033E1BA0A378B323" decryptionKey="0F7D79C435E5C525CFF8CAADF3BB5845031CC7F448CC1A1CC50D700F573F5276" validation="SHA1" />
    <compilation debug="true" targetFramework="4.5.2" />
    <!--文件上传大小限制(单位kb)和超时时间(单位为秒s)-->
    <httpRuntime targetFramework="4.5" maxRequestLength="10240" executionTimeout="60" />
  </system.web>
  <!--httpModule配置-->
  <system.webServer>
    <modules />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>